---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Card, Pagination, Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'

export async function getStaticPaths() {
  	const data = [{
		title: 'New Site',
		id: "1",
		author: "Axsiow",
		desc: "test looooong",
		tags: "test",
		},
	];

	return data.map(({title, id, author, tags}) => {
		return {
		params: { title },
		props: { id, author, tags },
		};
  	});
}

const { title = "New Site",
		id = "1",
		author = "Axsiow",
		desc = "test looooooong",
		tags = "test"
} = Astro.props;
---
<DefaultLayout title=Blog -{title} description={desc}>
	<section class="my-12">
		<div class="space-content container">
			<Breadcrumbs>
				<BreadcrumbsItem href="/" label="Home" />
				<BreadcrumbsItem href="/blog" label="Blog" />
				<BreadcrumbsItem currentPage={true} label={title} />
			</Breadcrumbs>
			<h1>{title}</h1>
      		<p>Author : {author}</p>
			<p>Tags : {tags}</p>
	</section>
</DefaultLayout>
  
<style lang="scss">
ul {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 4rem;
  
	@media (min-width: 550px) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}
  
	@media (min-width: 950px) {
		grid-template-columns: repeat(3, 1fr);
	}
}
</style>